.twbb-clear:after{
  content: "";
  display:table;
  clear:both;
}
.template_popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(50, 58, 69, .5);
  transition: opacity 500ms;
  display: none;
  z-index: 999;
  font-size: 1.1em;
}

#template_popup_container {
  position: fixed;
  top: calc(50% - 30px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 588px;
  background-color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px;
  color:#323A45;
}
/* syling popup for mobile view */
@media screen and (max-width: 500px) {
  #template_popup_container {
    width: 100%;
  }
  #template_popup_container span.close_popup {
    right: 0;
  }
  #template_popup_container .template_row {
    margin: 10px;
  }
}

.template_popup.twbb_video_popup_layout #template_popup_container {
  width: 1200px;
  height: 600px;
  padding: 0;
  max-width: 80%;
  max-height: 80%;
}


#template_popup_content.twbb_video_popup {
  border-radius: 15px;
  overflow: hidden;
}

#template_popup_content.twbb_upgrade_popup {
  padding: 30px 40px;
  text-align: center;
}

#template_popup_content.twbb_upgrade_popup h1{
  font-family: Open Sans, sans-serif;
  box-shadow: none;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

#template_popup_content.twbb_upgrade_popup p{
  font-family: Open Sans, sans-serif;
  box-shadow: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
}

#twbb_or {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#twbb_or:before,
#twbb_or:after {
  content: '';
  border-top: 1px solid #D6D8DA;
  width: 80px;
  margin: 0 20px 0 20px;
}

#template_popup_content.twbb_upgrade_popup a {
  font-family: Open Sans, sans-serif;
  padding: 10px 32px;
  background-color: #2160B5;
  text-transform: uppercase;
  color:#fff;
  font-size: 16px;
  border-radius: 18px;
}

#template_popup_content.twbb_upgrade_popup a:hover {
  text-decoration: none;
}

div.template_popup.template.twbb-front #template_popup_container {
  -webkit-transform: translate(-50%, calc(-50% - 35px));
  -moz-transform: translate(-50%, calc(-50% - 35px));
  transform: translate(-50%, calc(-50% - 35px));
}
div.template_popup.page.twbb-front #template_popup_container[data-tab="website_structure"] {
  -webkit-transform: translate(-50%, calc(-50% - 35px));
  -moz-transform: translate(-50%, calc(-50% - 35px));
  transform: translate(-50%, calc(-50% - 35px));
}

#template_popup_container h1 {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 12px 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}
.twbb-back.no-template {
  margin-right: 20px;
}
.add-template-link {
  font-size: 16px;
}
#template_popup_container .template_select {
  width: 420px;
  margin: 0 auto 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.template_row {
  /*
  display: flex;
  */
  margin-bottom: 20px;
  position: relative;
}

.edit_template_global, .edit_template_local {
  margin-right: 10px;
  margin-left: 2px;
  cursor: pointer;
}

.template_row label {
  display: block;
  padding: 5px 0;
  font-size: 1.2em;
}
#template_popup_container select {
  display: block;
  width: 100%;
  padding: 10px;
  height: 40px;
  margin-right: 10px;
}

#template_popup_container button {
  width: 73px;
  height: auto;
  float: left;
  background: #2160B5;
  display: none;
  color: #ffffff;
  border: 1px solid #A4AFB7;
  border-radius: 17px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  padding: 7px 5px;
  cursor: pointer;
}

#template_popup_container button#twbb_popup_save {
  width: 100px;
}

.edit_template_global {
  display: block;
  width: 100px;
  height: auto;
  max-height:34px;
  float: left;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 17px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 600;
  padding: 0 5px;
  cursor: pointer;
  color: #323A45;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.edit_template_global:hover {
  text-decoration: none;
}

.template_condition {
  display: flex;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
  padding: 5px 0;
}

.template_condition input[type=radio] {
  margin: 0 20px 0 5px;
}

.template_condition label {
  padding: 0;
  margin: 0;
  line-height: 15px;
  font-size: 1.1em;
}

.template_condition input[type='radio'] {
  width: 15px;
  height: 15px;
}

#twbb_popup_save {
  font-size: 1.2em;
}


.twbb_template-border:before {
  border: 2px solid #2160B5;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.twbb_template-border .elementor-container {
  z-index: 2;
}

.edit_templ {
  position:absolute;
  height: 23px;
  top: 0;
  left: 35%;
  color:#000;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
}

.edit_templ_button {
  position: relative;
  left: -50%;
  width: auto;
  text-align: center;
  height: 23px;
  background-color: #2160B5;
  line-height: 23px;
  color: #fff;
  font-size: 11px;
  font-family: Open Sans, sans-serif;
  font-weight: normal;
  cursor: pointer;
  -webkit-clip-path: polygon(0 1%, 100% 1%, 94% 100%, 6% 100%);
  clip-path: polygon(0 1%, 100% 1%, 94% 100%, 6% 100%);
  padding: 0 20px;
  z-index: 999;
}

.edit_templ.twbb_single {
  position:absolute;
  height: 23px;
  top: 0;
  left: 35%;
  color:#000;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  z-index: 999;
}

.edit_templ_button .eicon-edit {
  line-height: 23px;
  margin-right: 10px;
  font-size: 12px;
}

.elementor .elementor-document-handle {
  left: 15%;
}

#template_popup_container div.template_container {
  display: none;
  height: 150px;
}

.twbb-front #template_popup_container div.template_container {
  height: 170px;
}


#template_popup_container select {
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  width: 100%;
  padding: 7px 54px 7px 16px;
  margin-right: 10px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../editor/images/arrow-down-sign-to-navigate-grey.svg) #FFFFFF no-repeat calc(100% - 14px);
  background-size: 10px;
  height: auto;
}

#template_popup_container select.template_single {
  background: none;
}

#template_popup_container select.opened {
  background: url(../../editor/images/arrow-point-to-right.svg) #FFFFFF no-repeat calc(100% - 14px);
  background-size: 10px;
}

#template_popup_container .template_select select {
  float:left;
  width: calc(100% - 140px);
  height:34px;
}
#template_popup_container .template_select button:focus ,
#template_popup_container .template_select select:focus {
  outline:none;
}
#template_popup_container .template_select.active button {
  display:block;
}

.edit_template_global:hover {
  color:#6E747C;
}

.edit_template {
  border-radius: 16px 16px 0 0;
  padding: 10px 10px 5px 10px;
}
.edit_template_local {
  border-radius: 0 0 16px 16px;
  margin: -1px 0 0 0;
  padding: 5px 10px 10px 10px;
}

#template_popup_container .close_popup{
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: -24px;
  right: -24px;
  background: url(../../editor/images/close-btn.svg);
}
/*
.template_popup .twbb-front,
.template_popup #website_structure_content,
.template_popup.twbb-front .twbb-back,
.template_popup.twbb-front  .popup_content{
  display: none;
}
*/
.template_popup.twbb-front  #website_structure_content.active,
.template_popup.twbb-front  .popup_content.active,
.template_popup.twbb-front .twbb-front{
  display: block;
}
.template_popup.twbb-front  #template_popup_container h1 {
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  box-shadow: none;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  text-transform: none;
}
.template_popup.twbb-front  .template-title {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 13px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  color: #323A45;
  background: #FAFAFA;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear:none;
}
/*
.template_popup.twbb-front  .template-title:first-child {
  border-radius: 15px 0 0 0;
}
*/

.template_popup.twbb-front  .template-title.active {
  color: #2160B5;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  position: relative;
}
.template_popup.twbb-front  .template-title.active:after {
  content: "";
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  border-width: 8px 10px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.template_popup.twbb-front #template_popup_container div.template_container {
  padding: 20px 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.template_popup.twbb-front #template_popup_container div.template_container:first-child {
  padding-top: 0;
  height: 150px;
}
.template_popup.twbb-front #template_popup_container div.template_container:last-child {
  height: 165px;
}
.template_popup.twbb-front #template_popup_container div.template_container:last-child {
  padding-bottom: 0;
}
.template_popup.twbb-front #template_popup_container div.template_container:last-child .template_row {
  margin-bottom: 18px;
}
.template_popup.twbb-front #template_popup_container div.template_container:last-child {
  border-bottom: 0;
}
.template_popup .structure-section {
  padding: 0 55px 26px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 28px;
}
.template_popup .structure-section:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.template_popup.twbb-front .popup_content_scroll_content {
  height: 520px;
  overflow-y: auto;
  padding: 30px 40px 0 40px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.template_popup.twbb-front [data-tab="website_structure"] .popup_content_scroll_content {
  height: 450px;
}
.template_popup .structure-link {
  background: #FAFAFA;
  position: absolute;
  border-radius: 10px;
  width: 49%;
  font-size: 18px;
  line-height: 24px;
  bottom: -70px;
  text-align: center;
  left:0;
  cursor:pointer;
}
.template_popup h1:before,
.template_popup h3:before,
.template_popup h2:before{
  content:none;
}
.template_popup {
  font-family:'Open Sans', sans-serif;
}
.template_popup .template_popup_content {
  border-radius: 15px;
}
.template_popup .structure-link:hover {
  background: #2160B5;
}
.template_popup .structure-link i.eicon-search {
  font-weight: 800;
  font-size: 15px;
  margin-right: 8px;
  position: relative;
  top: -1px;
  font-family: eicons;
}
.template_popup .structure-conditions.structure-link {
  left:auto;
  right:0;
}
.template_popup .structure-link a {
  padding: 13px 0;
  display: block;
  color:#6D7882;
  font-weight: 600;
  text-decoration: none;
}
.template_popup .structure-link:hover a {
  color:#ffffff;
}
.template_popup.twbb-front .popup_content_scroll_content::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

.template_popup.twbb-front .popup_content_scroll_content::-webkit-scrollbar {
  width: 5px;
  background-color:transparent;
}

.template_popup.twbb-front .popup_content_scroll_content::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #A9AFB4;
}
.template_popup #website_structure_content {
}
.template_popup .structure-section h3 {
  color: #2160B5;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.template_popup .structure-section-row {
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 5px 49px 6px 16px;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  position:relative;
  background: #FFFFFF;
}
.template_popup .structure-section-row.current_row {
  border-color: #2160B5;
}
span.current {
  border-radius: 9px;
  background: #2160B5;
  color: #ffffff;
  font-size: 11px;
  line-height: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 2px 8px;
  right: 10px;
  position: absolute;
  top: 8px;
  vertical-align: middle;
}
#twbb_custom_header .website_structure .twbb_sub_menu a span.current + .twbb-edit.twbb-widget-icon {
  display: none;
}
.template_popup .structure-section-row:last-child {
  margin-bottom: 0;
}
.template_popup .structure-section-edit {
   background-image: url(../../editor/images/edit.svg);
   width: 15px;
   height: 15px;
   position: absolute;
   right: 16px;
   top: 8px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   display: none;
 }
.template_popup .structure-section-row:hover .structure-section-edit {
   display: block;
 }
.template_popup .structure-section-row:hover  {
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-color: transparent;
 }
.website_structure .twbb-widget-icon.tooltip-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 13px;
  cursor:pointer;
  position: absolute;
  right: 25px;
}
#twbb_custom_header .website_structure .twbb-widget-icon.tooltip-icon:before {
  color:#A4AFB7;
  font-size: 21px;
}

#twbb_custom_header .website_structure .twbb-widget-icon.tooltip-icon.active:before {
  color:#2160B5!important;
}

.website_structure span.tooltip-text {
  font-size: 13px;
  line-height: 18px;
  padding: 3px 10px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  right: -8px;
  background: #ffffff;
  top: -123%;
  z-index: 9;
  font-weight: 600;
  display: none;
  width: 220px;
  /*
  white-space: nowrap;
  */
}

.template_container .single {
  background : none;
  color:rgba(64, 64, 64, 0.5);
  background-color: #fff;
}
.template_popup .more {
  text-align: center;
}
.template_popup .more a {
  font-size: 14px;
  line-height: 19px;
  color: #2160B5;
}
.template_popup .more a:hover {
  color: #2160B5;
  text-decoration: none;
}
.website_structure span.tooltip-text:after {
  content: "";
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  border-width: 5px 4px;
  position: absolute;
  bottom: -9px;
  right: 17px;
  z-index: 1;
}
.website_structure span.tooltip-container{
  position: absolute;
  right: 15px;
  top: 5px;
}
.website_structure span.tooltip-container:hover span.tooltip-text{
  display: block;
}
#twbb_edit_template_all{
  position: fixed;
  bottom: 40px;
  right: 23px;
  width: 50px;
  height: 50px;
  background-image: url(../../editor/images/edit_all.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: rgba(211, 12, 92, 1);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 25pc;
  cursor: pointer;
  z-index: 9999;
  padding: 0;
}
#twbb_edit_template_all:focus{
  outline:none;
}
.template_popup.page{
  margin: 0;
}
.template_popup.page .structure-conditions.structure-link,
.template_popup.template #page_layout_content,
.template_popup.template h2#page_layout{
  display: none;
}

.template_popup.template #website_structure,
.template_popup.page .structure-finder.structure-link{
  width:100%;
}

.twbb-save-popup-loader {
  display: none;
}

.twbb-save-popup-loader img {
  height: auto;
  width: 15px;
  float: left;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.twbb-im-description {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
  border-left:3px solid;
  padding:10px;
  margin-top: 15px;
}

@media screen and (max-height: 760px){
  .template_popup.twbb-front .popup_content_scroll_content {
    height: 485px;
  }
  .template_popup.twbb-front [data-tab="website_structure"] .popup_content_scroll_content {
    height: 415px;
  }
}
@media screen and (max-height: 646px){
  .template_popup.twbb-front .popup_content_scroll_content {
    height: 400px;
  }
  .template_popup.twbb-front [data-tab="website_structure"] .popup_content_scroll_content {
    height: 330px;
  }
}
@media screen and (max-height: 550px){
  .template_popup.twbb-front .popup_content_scroll_content {
    height: 310px;
  }
  .template_popup.twbb-front [data-tab="website_structure"] .popup_content_scroll_content {
    height: 240px;
  }
}

/* Widget style */
.elementor-sticky--active {
    z-index: 99;
}

.elementor-panel #elementor-panel-header-wrapper #elementor-panel-header {
  background-color: #124383;
  height: 60px;
}

#elementor-mode-switcher:hover {
  background-color: #124383;
}

.elementor-panel #elementor-panel-header-wrapper #elementor-panel-header #elementor-panel-header-title img {
  background: url(../../images/10webLogo.svg) no-repeat;
  background-position: center;
  width: 80%;
  height: 57px;
  vertical-align: middle;
  padding-left: 80%;
  background-size: 100% 60%;
  box-sizing: border-box;
}

#elementor-panel #elementor-panel-content-wrapper {
  top: 60px;
}

body .elementor-panel .elementor-panel-navigation .elementor-panel-navigation-tab.elementor-active {
  border-bottom: 3px solid #0C3974;
}

#twbb_custom_header {
  position: sticky;
  z-index: 100;
  display: flex;
  top: 0;
  width: 100%;
  min-width: 1025px;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #cccccc ;
  color:#323A45;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  padding: 15px 0;
  line-height: 30px;
}

#elementor-panel-get-pro-elements, #elementor-notice-bar {
  display: none!important;
}


#twbb_custom_header a {
  padding: 0 20px;
  font-size: 15px;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  color:#323A45;
  cursor:pointer;
}
#twbb_custom_header .header_footer, #twbb_custom_header .advanced {
  margin-right: 10px;
  height: 34px;
  background: #2160B5 0% 0% no-repeat padding-box;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 8px 25px 8px 15px;
  padding-top: 7px;
  line-height: 20px;
}

#twbb_custom_header .header_footer > a, #twbb_custom_header .advanced a {
  font-size: 13px;
  padding: 0;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 600;
  color: #FFFFFF;
}

#twbb_custom_header .header_footer:hover, #twbb_custom_header .advanced:hover {
  background: #104891;
}

#twbb_custom_header .website_structure:hover a,
#twbb_custom_header .website_structure:hover a .twbb-arrow-down.twbb-widget-icon:before,
#twbb_custom_header .twbb_finder:hover label,
#twbb_custom_header .twbb_finder:hover .twbb-widget-icon:before,
#twbb_custom_header .twbb_upgrade:hover a .twbb-widget-icon:before {
  color:#2160B5;
}
#twbb_custom_header .website_structure a .twbb-arrow-down.twbb-widget-icon:before,
#twbb_custom_header .twbb_custom_header_menu a .twbb-arrow-down.twbb-widget-icon:before {
  position: absolute;
  top: 35%;
}
#twbb_custom_header .website_structure:hover #twbb_website_structure .twbb-arrow-down.twbb-widget-icon:before,
#twbb_custom_header .twbb_custom_header_menu .header_footer:hover a .twbb-arrow-down.twbb-widget-icon:before {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#twbb_custom_header .website_structure:hover #twbb_website_structure .twbb-arrow-down.twbb-widget-icon:before {
  color: #2160B5;
}

#twbb_custom_header .twbb_upgrade_for_trial_users:hover a {
  color:rgba(54,111,188,0.8);
}

#twbb_custom_header #display_finder {
  padding-right: 0 ;
}

#twbb_custom_header .nav_prev_next {
  border-right: 1px solid #D6D8DA;
  padding: 0 20px;
  white-space: nowrap;
}

#twbb_custom_header .fa-angle-down:before {
  content: "\f107";
  font-size: 15px;
  font-weight: bolder;
  margin-left: 5px;
  color:#323A45;
}

#twbb_custom_header .nav_prev_next a {
  padding: 0;
}

#twbb_custom_header .nav_prev_next a:first-child {
  margin-right: 27px;
}

#twbb_custom_header .nav_prev_next img {
  width: 17px;
}

#twbb_custom_header .website_structure {
  border-right: 1px solid #D6D8DA;
  white-space: nowrap;
}

#twbb_custom_header .twbb_finder label {
  cursor: pointer;
}

#twbb_custom_header .twbb_finder .eicon-search:before {
  content: '\e863';
  margin-right: 8px;
  color: #323A45;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}

#twbb_custom_header .fa-play-circle:before {
  content: "\f144";
  margin-right: 7px;
  font-size: 15px;
}

#twbb_custom_header .twbb_nav li a {
  white-space: nowrap;
}

#twbb_custom_header .twbb_nav li .twbb_sub_menu a{
  white-space: normal;
}

#twbb_custom_header .twbb_dashboard a
{
  padding: 7px 20px;
  border-radius: 17px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
}

#twbb_custom_header .twbb_dashboard a {
  background-color:#E8ECF2;
  margin-right: 30px;
  -  margin-left: 20px;
}

#twbb_custom_header .twbb_dashboard a:hover {
  background-color:#D8DEE8;
}
#twbb_custom_header .twbb_upgrade a {
  margin-right: 0;
}

/*
#twbb_custom_header .twbb_dashboard a {
  margin-right: 30px;
  margin-left: 15px;
}
*/

#twbb_custom_header > div {
  text-align: center;
}

#twbb_custom_header .twbb_custom_header_menu {
  flex-grow: 7;
}

.twbb_custom_header_menu > ul {
  position: relative;
  display: inline-block;
}

.twbb_custom_header_menu > ul > li {
  float:left;
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu {
  position: absolute;
  background-color: #fff;
  top: 60px;
  left:-55px;
  width: 340px;
  height: auto;
  padding: 20px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  display: none;
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu.twbb_sub_menu_tools {
  width: 450px;
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu.twbb_sub_menu_tools li {
  margin-bottom: 8px;
  padding: 20px 40px 20px 56px;
  cursor: pointer;
  position: relative;
  background-color: rgba(164, 175, 183, 0.07);
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu.twbb_sub_menu_tools li a {
  padding: 0;
  background: none;
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu.twbb_sub_menu_tools li h3 {
  font-size: 15px;
  color: #323A45;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu.twbb_sub_menu_tools li p {
  font-size: 14px;
  color: #323A45;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu.twbb_sub_menu_tools li img {
  position: absolute;
  top: 18px;
  left: 15px;
}

/* Upgrade menu css*/

#twbb_custom_header .twbb_upgrade_for_trial_users {
  line-height: 19px;
  border-right: 1px solid #323A4533;
  margin: 4.5px 0;
  padding-right: 20px;
  text-align: right;
  position: relative;
}

#twbb_custom_header .twbb_upgrade_for_trial_users a{
  padding: 0;
  color: #366FBC;
}

#twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu {
  display: none;
  position: absolute;
  right: -40px;
  top: 55px;
  background: white;
  width: 704px;
  padding: 30px 14px 30px 30px;
  text-align: left;
  border-radius: 10px;
  background-color: white;
  background-image: url(../../editor/images/upgrade_bg.png);
  background-position: 294px 75px;
  background-size: 410px;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.33);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.33);
}
#twbb_custom_header .twbb_upgrade_for_trial_users.trial_page .twbb_upgrade_submenu {
  background-image: url(../../editor/images/upgrade_bg.png);
}
#twbb_custom_header .twbb_upgrade_for_trial_users.ai_created_page .twbb_upgrade_submenu {
  background-image: url(../../editor/images/ai_upgrade_bg.png);
}
#twbb_custom_header .twbb_upgrade_for_trial_users.hide_all{
  display:none;
}

#twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu .fa.fa-caret-up:before {
  top: -70px;
  left: 480px;
  width: 200px;
  height: 40px;
  line-height: 72px;
  text-align: center;
  padding-left: 70px;
}
#twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu h4 {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 30px;
}

#twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu ul.twbb_upgrade_submenu_list {
  margin: 24px 0 30px 0;
}

#twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu ul.twbb_upgrade_submenu_list li{
  list-style: inside;
  list-style-type: none;
  background-image: url(../../editor/images/grey_chek_mark.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0;
  padding-left: 30px;
  margin-bottom: 14px;
}

#twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu .orange-button {
  padding: 10px 0;
}

#twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu .orange-button a{
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.12px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 12px 40px;
  background: #85D431 0 0 no-repeat padding-box;
  border-radius: 30px;
}

#twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu .orange-button a:hover{
  background-color: #7CC82B;
}

@media screen and (max-width: 1230px){
  #twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu {
    width: 576px;
    right: -200px;
    padding: 20px 6px 24px 24px;
    background-size: 320px;
    background-position: 255px 45px;
  }
  #twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu .fa.fa-caret-up:before {
    top: -60px;
    left: 250px;
    width: 110px;
  }
  #twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu h4 {
    font-size: 18px;
  }
  #twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu ul.twbb_upgrade_submenu_list {
    margin: 18px 0 24px 0;
  }
  #twbb_custom_header .twbb_upgrade_for_trial_users .twbb_upgrade_submenu ul.twbb_upgrade_submenu_list li{
    font-size: 13px;
    background-size: 16px;
    line-height: 18px;
    padding-left: 24px;
    margin-bottom: 12px;
  }
}

/* End Upgrade menu css*/
#twbb_custom_header .twbb-external.twbb-widget-icon {
  position: absolute;
  top: 18px;
  right: 15px;
}

#twbb_custom_header .twbb-external.twbb-widget-icon:before {
  color: #ADB0B5;
  font-size: 10px;
}

#twbb_custom_header .twbb_nav .advanced {
  display: none;
}

.twbb_nav>li {
  position: relative;
}

.twbb_sub_menu .fa.fa-caret-up {
  position: absolute;
  left: 0;
}

#twbb_custom_header .twbb_sub_menu .sub-menu {
  padding-left: 30px;
}

#twbb_custom_header .twbb_sub_menu .fa-caret-up:before {
  content: "\f0d8";
  position: absolute;
  top: -51px;
  font-size: 30px;
  color: #fff;
  left: 0;
  width: 340px;
  height: 31px;
  line-height: 55px;
  text-align: left;
  padding-left: 110px;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .fa-caret-up:before{
  content: "\f0d8";
  position: absolute;
  top: -31px;
  font-size: 30px;
  color: #fff;
  left: -50px;
  width: 300px;
  height: 32px;
  line-height: 55px;
}

.empty_menu {
  color: #323A45;
  font-size: 14px;
  font-weight: 500;
  padding-left:10px;
}

#twbb_custom_header a.twbb_cursor_default {
  cursor: default;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont {
  position: absolute;
  background-color: #fff;
  top: 60px;
  left:20px;
  width: 394px;
  height: auto;
  padding: 5px 0 5px 0;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  display: none;
}

#twbb_custom_header .website_structure .fa.fa-caret-up {
  display: block;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-height: 600px;
  padding: 0 20px;
  position: relative;
}


#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title .twbb-arrow-down.twbb-widget-icon,
#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title .twbb-arrow-up.twbb-widget-icon {
  position: absolute;
  right: 15px;
  top: 17px;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title .twbb-arrow-down.twbb-widget-icon:before,
#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title .twbb-arrow-up.twbb-widget-icon:before {
  font-size: 8px;
  margin-left: 8px;
  color: #A4AFB7;
  font-weight: 900;
  vertical-align: middle;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title {
  cursor: pointer;
  line-height: 50px;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu hr {
  position: absolute;
  width: 374px;
  color: rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
  height: 1px;
  border: none;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  line-height: 50px;
  display: inline-block;
  width: 100%;
  color: #2160B5;
  vertical-align: middle;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title img {
  vertical-align: middle;
}

.template_title {
  padding: 0;
  color: rgba(50, 58, 69, 1);
  font-size: 14px;
  font-weight: 600;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title.active {
  color:#2160B5;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title ul.closed {
  display: none;
}

#twbb_custom_header .website_structure .twbb_sub_menu_cont .twbb_sub_menu .title ul.opened {
  display: block;
}

#twbb_custom_header .website_structure .twbb_sub_menu li {
  line-height: 32px;
  text-align: left;
  width: 100%;
  position: relative;
  z-index: 9;
}

#twbb_custom_header .website_structure .twbb_sub_menu li a.view_more {
  border: none;
  font-size: 13px;
  color: #A4AFB7;
  font-weight: 600;
  text-align: right;
  line-height: 30px;
}

#twbb_custom_header .website_structure .twbb_sub_menu li a.view_more:hover {
  color:#2160B5;
}

#twbb_custom_header .website_structure .twbb_sub_menu li a {
  color: #323A45;
  font-size: 14px;
  font-weight: 400;
  /*
  padding: 8px 20px;
  */
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-bottom: 8px;
  /*
  background-color: #FAFBFB;
  */
  background-color: rgba(164, 175, 183, 0.07);
}
#twbb_custom_header .website_structure .twbb_sub_menu .nothing_published {
  color: #323A45;
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  opacity: 0.7;
}

#twbb_custom_header .website_structure .twbb_sub_menu a .twbb-edit.twbb-widget-icon {
  right: 15px;
  display: inline-block;
  position: absolute;
  top: 10px;
}

#twbb_custom_header .website_structure .twbb_sub_menu a:hover .twbb-edit.twbb-widget-icon.has_templ {
  display: inline-block;
}

#twbb_custom_header .website_structure .twbb_sub_menu li a i.twbb-edit.twbb-widget-icon:before {
  color:#A4AFB7;
  font-size: 14px;
}

#twbb_custom_header .website_structure .twbb_sub_menu li a.view_more i {
  margin-left: 10px;
}

#twbb_custom_header .website_structure .twbb_sub_menu li a.view_more i:before {
  color:#A4AFB7;
  font-size: 10px;
  vertical-align: middle;
}
/*
#twbb_custom_header .website_structure .twbb_sub_menu a:hover:before {
  font-family: "Font Awesome 5 Free";
  content: "\f304";
  display: inline-block;
  position: absolute;
  right: 20px;
}
*/

#twbb_custom_header .website_structure .twbb_sub_menu .sub-menu li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c8";
  background: transparent;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-top: none;
  border-right: none;
  position: absolute;
  left: -20px;
  top: -28px;
  height: 46px;
  width: 20px;
  z-index: 1;
}

#twbb_custom_header .website_structure .twbb_sub_menu .sub-menu li:first-child:before {
  height: 27px;
  border-top: none;
  top: -9px;
}

#twbb_custom_header .website_structure .twbb_sub_menu li>a:hover {
  border: 1px solid transparent;
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 7px 2px rgba(109, 120, 130, 0.3);
  -moz-box-shadow: 0 3px 7px 2px rgba(109, 120, 130, 0.3);
  box-shadow: 0 3px 7px 2px rgba(109, 120, 130, 0.3);
}


#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu li{
  line-height: 35px;
  text-align: left;
  border: 1px solid #F2F2F2;
  border-radius: 7px;
  width: 100%;
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu li.twbb_header_menu {
  margin-bottom: 10px;
}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu li:hover {
  box-shadow: 0 3px 7px 0 #E2E4E6;
  -webkit-box-shadow: 0 3px 7px 0 #E2E4E6;
  -moz-box-shadow: 0 3px 7px 0 #E2E4E6;
  border:1px solid transparent;

}

#twbb_custom_header .twbb_custom_header_menu .twbb_sub_menu li a {
  color: #323A45;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  display: block;
  background-color: rgba(164, 175, 183, 0.07);
}


#twbb_custom_header .twbb-arrow-down.twbb-widget-icon:before {
  font-size: 10px;
  margin-left: 8px;
  font-weight: 600;
}

#twbb_custom_header #twbb_website_structure .twbb-arrow-down.twbb-widget-icon:before {
  color: #323A45;
}

#twbb_custom_header .header_footer .twbb-arrow-down.twbb-widget-icon:before {
  color: #ffffff;
}

#twbb_custom_header a.disable_undo_redo {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #cccccc;
}
#twbb_custom_header a.disable_undo_redo .twbb-widget-icon:before {
  color: #E8ECF2;
}

#twbb_custom_header .twbb-undo.twbb-widget-icon:before,
#twbb_custom_header .twbb-redo.twbb-widget-icon:before {
  color: #323A45;
  font-weight: 500;
}

#twbb_custom_header .twbb-search.twbb-widget-icon:before,
#twbb_custom_header .twbb-play.twbb-widget-icon:before {
  margin-right: 8px;
  font-weight: 600;
  color: #323A45;
  cursor: pointer;
}


.pvw-title span {
  display: none;
}
.pvw-title:after {
  content: 'whatever it is you want to add';
}

.elementor-panel-menu-item-exit-to-dashboard .elementor-panel-menu-item-title {
  display: none;
}

.elementor-panel-menu-item-exit-to-dashboard a:after {
  content: 'Exit to WP dashboard';
  line-height: 40px;
  font-weight: 500;
  color:#fff;
}

#twbb_custom_header .ps__rail-y.ps--clicking .ps__thumb-y,
#twbb_custom_header .ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y {
  width: 3px!important;
}

#twbb_custom_header .ps__thumb-y {
  width: 3px!important;
  -webkit-border-radius: 3px!important;
  border-radius: 3px!important;
}

#twbb_custom_header .ps__rail-y {
  max-width: 3px;
  background: transparent!important;
}

.elementor-control-background_size_width_height ul ,
.elementor-control-background_size_width_height_tablet ul,
.elementor-control-background_size_width_height_mobile ul
{
  display: flex;
  justify-content: flex-end;
}
.elementor-control-type-number.elementor-control-dynamic .elementor-control-input-wrapper input {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-right: 1px solid #d5dadf;
}

.twbb .elementor-edit-area-active .elementor-widget.elementor-element-edit-mode:hover,
.twbb .elementor-edit-area-active .elementor-widget.elementor-element-editable {
  -webkit-box-shadow: 0 0 0 1px #60CCA6;
  box-shadow: 0 0 0 1px #60CCA6;
}