@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

%topGap {
  margin-top: 101px;
  @include mq("phone", max) {
    margin-top: 87px;
  }
}
%fixedContent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
